body
{
    column-count: 2;
    column-gap: 150px;
    background-image: url(menacing.jpg);
    background-position:left;
    background-size:10%;
    margin: 5%;
}

body p
{
    background-color: white;
}