.blue
{
    color: #097AAC;
    font-size: 40px;
    font-family: arial;
}

.red
{
    color: #7B3232;
    font-size: 20px;
    font-family: Impact;
}

h2, h3
{
    color: green;
    font-size: 30px;
}

ul li
{
    color: #904DAC;
}

.footer
{
 font-size: 12px;   
}

