body {
    background-image: url(menacing.jpg);
    background-position: left;
    background-size: 10%;
}

body p {
    background-color: white;
}

/*navigation bar*/
ul.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #552760;
    padding: 15px;
    color: #fff;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

/*navigation bar*/
ul.nav-bar li {
    color: #fff;
    list-style: none;
    font-weight: 800;
}

/*navigation bar*/
ul.nav-bar li a {
    color: #fff;
    letter-spacing: .25ch;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.5rem;
    padding: 15px;
}

/*navigation bar*/
ul.nav-bar li a:hover,
ul.nav-bar li a:focus {
    background-color: #B0437D;
    color: #ffffff;
    font-weight: bold;
}

/*text background*/
main {
    margin: 3%;
    min-height: 70vh;
    background-color: #ffffff;
    box-shadow: 4px 5px 20px 4px black, 10px 10px 20px 4px #5F2C62;
}

#placeholder{
    color: purple;
}

.font{
    font-size: 20px;
}

@media (max-width: 480px) {
    .font {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .font {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    ul.nav-bar li {
        font-size: 12px;
    }
}

.mask{
    width: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    height: 100%; 
}

.text-content {
    padding: 20px;
    height: 100%; /* Ensure the text content takes up the full height of the grid container */
    overflow: auto; /* Add scrollbars if the content overflows */
    box-sizing: border-box; /* Ensure padding is included in the height calculation */
}

.image-content {
    display: flex;
    justify-content: center; /* Center image horizontally */
    align-items: center; /* Center image vertically */
    height: 100%; /* Ensure the image content takes up the full height of the grid container */
}

img {
    max-width: 100%; /* Ensure image doesn't overflow its container */
    max-height: 100%; /* Ensure image doesn't overflow its container */
}