/*Classes that affect text*/
h1{
    color: #552760;
    font-size: 6rem;
    margin: 5px;
    text-align: center;
}

h2{
    color: #B0437D;
    font-weight: bold;
}

h3{
    color: #B0437D;
    display: inline;
}

.font{
    font-size: 22px;
}

strong{
    color:#B0437D;
}

/*Background*/
body{
    background-image: url(images/menacing.jpg);
    background-position: left;
    background-size: 10%;
}

/*text background*/
main {
    margin: 3%;
    padding: 25px;
    min-height: 70vh;
    background-color: #ffffff;
    box-shadow: 4px 5px 20px 4px black, 10px 10px 20px 4px #5F2C62;
}

body p {
    background-color: white;
}

/*Specific classes for certian emages*/
.mask{
    width: 15%;
}

.stone{
    width: 60%;
}

.epitaph{
    width: 60%;
}

/*Grid format*/
.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    height: 100%; 
}

.text-content {
    padding: 0px 35px;
    height: 100%; 
    overflow: auto; 
    box-sizing: border-box; 
}

.image-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
}

img {
    max-width: 100%; 
    max-height: 100%; 
}

/*navigation bar*/
ul.nav-bar {
    display: inline-block;
    width: 100%;
    background-color: #552760;
    padding: 15px;
    color: #fff;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
}

ul.nav-bar li {
    color: #fff;
    list-style: none;
    font-weight: 800;
    padding: 8px;
    display: inline-block;
}

ul.nav-bar li a {
    color: #fff;
    letter-spacing: .25ch;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.5rem;
    padding: 0px 25px 0px 0px;
}

ul.nav-bar li a:hover,
ul.nav-bar li a:focus {
    background-color: #B0437D;
    color: #ffffff;
    font-weight: bold;
}

/*Media tags*/
@media screen and (max-width: 768px) {
    ul.nav-bar li a {
        font-size: 1rem; 
    }
}

@media (max-width: 480px) {
    .font {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .font {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    ul.nav-bar li {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
}